PagadiarioNet/PagadiarioDesktop/Connected Services/ServiceCliente/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteBusiness" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteBusiness_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IClienteBusiness_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteBusiness_InsertCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteBusiness_InsertCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteBusiness_UpdateCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteBusiness_UpdateCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteBusiness_BuscarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteBusiness_BuscarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteBusiness">
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteBusiness/GetClientes" message="tns:IClienteBusiness_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteBusiness/GetClientesResponse" message="tns:IClienteBusiness_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteBusiness/InsertCliente" message="tns:IClienteBusiness_InsertCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteBusiness/InsertClienteResponse" message="tns:IClienteBusiness_InsertCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteBusiness/UpdateCliente" message="tns:IClienteBusiness_UpdateCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteBusiness/UpdateClienteResponse" message="tns:IClienteBusiness_UpdateCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteBusiness/BuscarCliente" message="tns:IClienteBusiness_BuscarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteBusiness/BuscarClienteResponse" message="tns:IClienteBusiness_BuscarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteBusiness" type="tns:IClienteBusiness">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IClienteBusiness/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteBusiness/InsertCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteBusiness/UpdateCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteBusiness/BuscarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteBusiness">
    <wsdl:port name="BasicHttpBinding_IClienteBusiness" binding="tns:BasicHttpBinding_IClienteBusiness">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LayerBusiness/ClienteBusiness/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>